* {
  --danger: #f23557;
  --warning: #f0d43a;
  --primary: #22b2da;
  --secondary: #ffb5b5;
  --base: #3b4a6b;
  --white: #fff;
}

.App {
  margin-top: 6rem;
}

.AppHeader {
  background-color: var(--base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.AppHeader_home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 2;
}

.AppHeader_actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.Logo {
  height: 44px;
  pointer-events: none;
}

.Link {
  color: var(--secondary);
  margin: 8px;
}

.Link___selected {
  filter: saturate(600%);
}